<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
            <a class="navbar-brand" href="#menu-toggle" id="menu-toggle" data-toggle="tooltip" data-placement="bottom" title="main menu"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="list" data-toggle="tooltip" data-placement="bottom" title="refresh"><span  class="glyphicon glyphicon-refresh" ng-click="refresh()"></span></a></li>
                <li><button id="list" type="button" data-toggle="tooltip" data-placement="bottom" title="view" class="btn btn-dafault glyphicon" ng-click="isList = !isList" ng-class="{'glyphicon-list': !isList, 'glyphicon-th-large': isList}" style="margin-top: 10px"></button></li>
                <li class="dropdown" ng-init="readuser()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom" title="{{user.firstName}} {{user.lastName}} &#10;{{user.email}}" style="background-color:#fb0">
                        <img ng-src="{{user.profile[0].value}}" class="img-circle" alt="profile picture" width="32" height="32">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <img ng-src="{{user.profile[0].value}}" class="img-circle" alt="profile picture" width="90" height="90">
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{user.name || user.firstName}} {{user.lastName}}</strong></p>
                                        <p class="text-left small">{{user.email}}</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#basicModal">Profile</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider navbar-login-session-bg"></li>
                        <p>
                            <a ui-sref="logout" id="logout" class="btn btn-default ">Logout</a>
                        </p>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." id="search" ng-model="searchTodos.title" ng-model="searchTodos.description">
                </div>
            </form>
        </div>
    </div>
</nav>
<div id="wrapper" class="toggled ">
    <div class="container-fluid ">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <br>
                </li>
                <li>
                    <a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                </li>
                <li ng-click="readTodo()">
                    <a href="">
                        <div class="glyphicon glyphicon-leaf" id="notes"> notes</div>
                    </a>
                </li>
                <li ng-click="customFilter();">
                    <a href="">
                        <div class="glyphicon glyphicon-hand-up" id="reminder"> reminder</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="glyphicon glyphicon-cog" id="setting"> setting</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="glyphicon glyphicon-asterisk" id="about"> About</div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid ">
                <div class="row">
                    <!-- <div class=""> -->
                    <div class="panel-group" style="margin-right:5%;margin-left:5%">
                        <div class="panel panel-default">
                            <p class="panel-title">
                                <a data-toggle="collapse" href="#collapse1"> <input type="text" id="text2" ng-model="newTodo.title" placeholder="Title" class="form-control"></a>
                            </p>
                            <div id="collapse1" class="panel-collapse collapse">
                                <textarea rows="3" multiline="true" id="textarea" ng-model="newTodo.description" placeholder="description" class="form-control" contenteditable="true"></textarea>
                                <label id="date" style="margin-left:10px;">Reminder:{{newTodo.reminder|date:'EEE MMM, dd hh:mm:ss a'}}
                                  <span class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#p" href="#p">
                                      <div class="input-group"><i  id="date" class="glyphicon glyphicon-hand-up" data-ng-model="newTodo.reminder"></i>
                                      </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                      <datetimepicker data-ng-model="newTodo.reminder" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                                    </ul>
                                  </span>
                                </label>
                                <label id="add" ng-click="createTodo(newTodo);readTodo();" style="margin-right:10px;">Done</label>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->

                    <div class="row" id="row1">
                        <!-- <div class="container-fluid" style="margin-left:10%;"> -->
                        <div class="cont " ng-init="readTodo()" ng-class="{list: isList, grid: !isList}">
                            <div class="cardRow slides">
                                <div class="card" ng-class="{'col-xs-12':!isList, 'col-md-4':!isList, 'col-sm-4':!isList,'col-lg-3':!isList}" ng-repeat="todo in todos | orderBy:'-'| filter: searchTodos" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                                    <div class="slideDown">
                                        <p id="title" ng-bind-html="todo.title | nl2br" ng-click="loadModel(todo)"></p>
                                        <p id="description" ng-bind-html="todo.description | nl2br" ng-click="loadModel(todo)"></p>
                                        <div id="row">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12" id="row2">
                                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="delete"><span class="glyphicon glyphicon-trash "  id="trash" ng-click="deleteTodo(todo.t_id);" ></span></a>
                                                    <span class="dropdown" id="dropdown2" >
                                                        <i class="glyphicon glyphicon-hand-up dropdown-toggle"  type="button" data-toggle="dropdown" data-toggle="tooltip" data-placement="bottom" title="reminder" ></i>
                                                        <ul class="dropdown-menu">
                                                          <li style="padding-left:20px;">Reminder</li>
                                                          <li ng-click="createReminder('today',todo.t_id);readTodo()"><a href="#" value="today">Today <span style="float:right">8:00PM</span></a></li>
                                                          <li ng-click="createReminder('tomorrow',todo.t_id);readTodo()"><a href="#" value="tomorrow">Tomorrow <span style="float:right">8:00AM</span></a></li>
                                                          <li ng-click="createReminder('nextweek',todo.t_id);readTodo()"><a href="#" value="next Week">next Week <span style="float:right">8:00AM</span></a></li>
                                                          <li class="divider"></li>
                                                    <li>
                                                      <a href="#" ng-click="$event.stopPropagation()">Pick date</a>
                                                      <!-- <label id="date" style="margin-left:10px;">Reminder:{{date | date:'EEE MMM, dd hh:mm:ss a'}}
                                                        <div class="dropdown">
                                                          <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#a" href="#a" >
                                                            <div class="input-group"><i class="glyphicon glyphicon-hand-up dropdown-toggle"  data-ng-model="date" ng-click="$event.stopPropagation()" style="display: inline-block !important;"></i>
                                                            </div>
                                                          </a>
                                                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker data-ng-model="date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                                                          </ul>
                                                        </div>
                                                      </label> -->

                                                      <label id="date" style="margin-left:10px;" >Reminder:{{date | date:'EEE MMM, dd hh:mm:ss a'}}</label><label ng-click="createReminder(date,todo.t_id);readTodo()">done
                                                         <datetimepicker ng-click="$event.stopPropagation()" data-ng-model="date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" ></datetimepicker>
                                                      </label>
                                                    </li>
                                                    </ul>
                                                    </span>
                                                    <span id="created">created:{{todo.updated_at|date:'EEE MMM, dd hh:mm:ss a'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="reminder1" ng-if="todo.reminder" style="border-top:1px dotted;" ng-mouseenter="options=true" ng-mouseleave="options=false">
                                            <div style="padding-top:3px;"><i class="glyphicon glyphicon-time"></i>{{todo.reminder | date:'EEE MMM, dd hh:mm:ss a'}}<i class="glyphicon glyphicon-remove-sign" style="float:right;margin-left:10px;" ng-click="deleteReminder(todo.t_id);readTodo()" data-toggle="tooltip" data-placement="bottom" title="delete reminder"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</div>
<!-- /#wrapper -->

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <form>
                    <div class="modal-body" style="margin-left:120px;">
                        <div class="col-md-12 col-lg-12" style="margin-left:20%">
                            <div class="form-group">
                                <img ng-src="{{user.profile[0].value}}" class="img-circle" alt="profile picture" width="70" height="70">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" >
                            <div class="form-group">
                                <label>User Name:</label> {{user.name || user.firstName}} {{user.lastName}}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Email:</label> {{user.email}}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Gender:</label> {{user.gender}}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Mobile Number:</label> {{user.mobileNo}}
                            </div>
                        </div>
                    </div>
                    <div style="float:right;margin-right:10%;">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <!-- <button type="submit" class="btn btn-primary">Save changes</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
