<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
            <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="list"><span class="glyphicon glyphicon-refresh" ng-click="readTodo();grid()"></span></a></li>
                <li><button id="list" type="button" class="btn btn-dafault glyphicon" ng-click="isList = !isList" ng-class="{'glyphicon-list': !isList, 'glyphicon-th-large': isList}" style="margin-top: 5px"></button></li>

                <li class="dropdown" ng-init="readuser()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color:#fb0">
                        <img ng-src="{{user.profile[0].value}}" class="img-circle" alt="profile picture" width="32" height="32">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <img ng-src="{{user.profile[0].value}}" class="img-circle" alt="profile picture" width="90" height="90">
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{user.name || user.firstName}} {{user.lastName}}</strong></p>
                                        <p class="text-left small">{{user.email}}</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#basicModal">Profile</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider navbar-login-session-bg" ></li>
                                      <p>
                                            <a ui-sref="logout" class="btn btn-default " style="float:right">Logout</a>
                                        </p>
                    </ul>
                </li>

            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." id="search" ng-model="searchTodos">
                </div>
            </form>
        </div>
    </div>
</nav>

<div id="wrapper" class="toggled ">
    <div class="container-fluid ">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <br>
                </li>
                <!-- <li class="sidebar-brand" ng-click="readuser()">
                                        <a href="#" class="navbar-brand" >
                                            <span class="glyphicon glyphicon-user" data-toggle="modal" data-target="#basicModal" aria-hidden="true"></span> Profile
                                        </a>
                                    </li> -->
                <li>
                    <a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                </li>
                <li>
                    <a href="">
                        <div class="glyphicon glyphicon-leaf" id="notes"> notes</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="glyphicon glyphicon-trash" id="trash1"> trash</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="glyphicon glyphicon-hand-up" id="reminder"> reminder</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="glyphicon glyphicon-cog" id="setting"> setting</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="glyphicon glyphicon-asterisk" id="about"> About</div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid ">
                <div class="row">
                    <div class="">
                        <div class="panel-group" style="margin-right:12%;">
                            <div class="panel panel-default">
                                <!-- <div class="panel-heading"> -->
                                <p class="panel-title" >
                                    <a data-toggle="collapse" href="#collapse1"> <input type="text" style="border:none;box-shadow:none;font-size:20px;font-weight:bold;font-family:Times New Roman;" ng-model="newTodo.title" placeholder="Title" class="form-control"></a>
                                </p>
                                <!-- </div> -->
                                <div id="collapse1" class="panel-collapse collapse">
                                    <!-- <div class="panel-body"> -->
                                    <textarea rows="3" multiline="true" style="border:none;box-shadow: none;font-size:17px;font-family:'Roboto Slab','Times New Roman',serif;" ng-model="newTodo.description" placeholder="description" class="form-control" contenteditable="true"></textarea>  <!--onkeyup="textAreaAdjust(this)"-->
                                    <label id="date" style="margin-left:10px;">Reminder:<input type="date"  style="border:none;" ng-model="newTodo.reminder" ></label>
                                    <label id="add" ng-click="createTodo();readTodo()" style="margin-right:10px;">Done</label>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row " style="margin-left:10%; ">
                        <!-- <div class="container-fluid"> -->
                        <div class="cont " ng-init="readTodo()" ng-class="{list: isList, grid: !isList}">
                            <div class="cardRow slides">
                                <div class="card" ng-class="{'col-xs-12':!isList, 'col-md-4':!isList, 'col-sm-4':!isList,'col-lg-3':!isList}" ng-repeat="todo in todos |orderBy:'-'| filter: searchTodos">
                                    <div class="slideDown card-4">
                                        <p id="title" style=" word-break:break-word;margin-top:10px;font-size:20px;font-weight:bold;font-family:Times New Roman;" ng-bind-html="todo.title | nl2br" ng-click="loadModel(todo)"></p>
                                        <p id="description" style="word-break:break-word;font-size:17px;font-family:'Roboto Slab','Times New Roman',serif;" ng-bind-html="todo.description | nl2br" ng-click="loadModel(todo)"></p>
                                        <div style="padding-top:10px margin-left:10px;" id="row">
                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-xs-12 col-md-12">
                                                    <a><span class="glyphicon glyphicon-trash "  id="trash" ng-click="deleteTodo(todo.t_id);readTodo()"></span></a>
                                                    <span>{{todo.reminder | date}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
    <!-- /#wrapper -->
</div>
<div class="notes"></div>




<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">user profile</h4>
    </div> -->

                <form>
                    <div class="modal-body">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <img ng-src="{{user.profile[0].value}}" class="img-circle" alt="profile picture" width="70" height="70">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>User Name:</label>{{user.name || user.firstName}} {{user.lastName}}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Email:</label>{{user.email}}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Gender:</label>{{user.gender}}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Mobile Number:</label>{{user.mobileNo}}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
