<form name="popup">
    <div class="modal-demo">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" style="outline:none;font-size:20px;font-weight:bold;font-family:Times New Roman;" contenteditable="true" ng-bind-html="todo.title | nl2br"></h3>
        </div>
        <div class="modal-body" id="modal-body" style="outline:none;font-size:17px;font-family:'Roboto Slab','Times New Roman',serif;" contenteditable="true" style="box-border:none;" ng-bind-html="todo.description | nl2br"></div>
        <div class="modal-footer">
            <label type="submit" ng-disabled="popup.$empty" ng-click="updateTodo(todo);$ctrl.cancel();" required>DONE</label>
        </div>
    </div>
</form>
