<div class="modal-demo">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title"  contenteditable="true"  ng-model="title">{{todo.title}}</h3>
    </div>
    <div class="modal-body" id="modal-body"  contenteditable="true"  ng-model="description">{{todo.description}}</div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="updateTodo(todo);$ctrl.cancel();">Save changes</button>
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok();">Close</button>
    </div>
</div>
